@use "../../assets/mixins";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 235px;
  width: 125px;
  margin-inline: 5px;
  margin-bottom: 3em;

  .image {
    height: 125px;
    width: 125px;
  }

  .productTitle,
  .productPrice {
    color: #000;
    text-align: center;
    font-size: 0.9em;
  }
  .productPrice {
    font-weight: bold;
  }

  .productButton {
    text-align: center;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #ff7828;
    color: white;
    cursor: pointer;
    transition: 0.35s all;

    &:hover {
      background-color: #e3b676;
    }
  }

  .deleteButton {
    @include mixins.button();
    width: 100%;
    font-size: 0.8em;
    margin-block: 5px;
    padding-block: 5px;
  }
}

.links {
  text-decoration: none;
  color: none;
}
