@use "../../assets/variables";
@use "../../assets/mixins";

.container {
  @include mixins.barsContainer();
  bottom: 0;
  padding-inline: 2em;

  .icon {
    transform: scale(1.5);
  }
  .iconActive {
    transform: scale(1.5);
  }

  .active {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #e3b676;
  }

  .linkBox {
    height: 55px;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: all;
  }
}
  @media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
    margin: auto;
  }
}